<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fevi's Subathon Timer</title>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.custom.css')}}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fevidinkdonk.gif') }}">
</head>

<body style="background-color: #1A1A1E">
<div class="container my-4" data-bs-theme="dark">
    <!-- Timer & Points Display -->
    <div class="card mb-2 col-8 text-center mx-auto">
        <div class="card-body">
            <h5 class="card-title"><b>Subathon Information (<span id="status">ACTIVE</span>)</b></h5>

            <div class="container mt-1 fs-5">
                <div class="p-3 text-center mx-auto" style="max-width: 400px;">
                    <div class="d-flex justify-content-between">
                        <span class="fw-bold">Time Left:</span>
                        <span class="roboto-mono-normal" id="timer">02:31:42</span>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <span class="fw-bold">Points:</span>
                        <span class="roboto-mono-normal" id="points">1200</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Reward Buttons -->
    <div class="card mb-2 col-8 text-center mx-auto">
        <div class="card-body text-center">
            <h5 class="card-title text-center mb-3"><b>Twitch</b></h5>

            <div class="col-12 mb-2">
                <button class="btn btn-twitch-sub-T2 mx-1 w-25" onclick="addReward('twitch_t1')">T1 Sub</button>
                <button class="btn btn-twitch-sub-T2 mx-1 w-25" onclick="addReward('twitch_t2')">T2 Sub</button>
                <button class="btn btn-twitch-sub-T2 mx-1 w-25" onclick="addReward('twitch_t3')">T3 Sub</button>
            </div>

            <div class="col-12 mb-1" role="group">
                <button class="btn btn-twitch-bits mx-1 w-20" onclick="addReward('twitch_bits_100')">Bits - 100</button>
                <button class="btn btn-twitch-bits mx-1 w-20" onclick="addReward('twitch_bits_100')">Bits - 200</button>
                <button class="btn btn-twitch-bits mx-1 w-20" onclick="addReward('twitch_bits_300')">Bits - 500</button>
                <button class="btn btn-twitch-bits mx-1 w-20" onclick="addReward('twitch_bits_500')">Bits - 1000</button>
            </div>
        </div>
    </div>

    <div class="card mb-2 col-8 text-center mx-auto">
        <div class="card-body text-center">
            <h5 class="card-title text-center mb-3"><b>Youtube</b></h5>

            <div class="col-12 mb-2">
                <button class="btn btn-youtube-member-T2 mx-1 mb-1 w-25" onclick="addReward('youtube_member')">Member T1
                </button>
                <button class="btn btn-youtube-member-T2 mx-1 mb-1 w-25" onclick="addReward('youtube_member')">Member T2
                </button>
                <button class="btn btn-youtube-member-T2 mx-1 mb-1 w-25" onclick="addReward('youtube_member')">Member T3
                </button>
            </div>

            <div class="col-12 mb-1">
                <button class="btn btn-youtube-superchat mx-1 mb-1 w-20" onclick="addReward('youtube_member')">Superchat $5
                </button>
                <button class="btn btn-youtube-superchat mx-1 mb-1 w-20" onclick="addReward('youtube_member')">Superchat
                    $20
                </button>
                <button class="btn btn-youtube-superchat mx-1 mb-1 w-20" onclick="addReward('youtube_member')">Superchat
                    $50
                </button>
                <button class="btn btn-youtube-superchat mx-1 mb-1 w-20" onclick="addReward('youtube_member')">Superchat
                    $100
                </button>
            </div>
        </div>
    </div>

    <div class="card mb-2 col-8 text-center mx-auto">
        <div class="card-body text-center">
            <h5 class="card-title text-center mb-3"><b>Other</b></h5>

            <div class="row text-center mb-2">
                <div class="col">
                    <label class="fw-bold mb-1">Chzzk (Cheese)</label>
                    <div class="input-group">
                        <input type="number" class="form-control text-center" placeholder="Qty">
                        <button class="btn btn-success px-2">✅</button>
                    </div>
                </div>
                <div class="col">
                    <label class="fw-bold mb-1">Afreeca (Balloons)</label>
                    <div class="input-group">
                        <input type="number" class="form-control text-center" placeholder="Qty">
                        <button class="btn btn-success px-2">✅</button>
                    </div>
                </div>
                <div class="col">
                    <label class="fw-bold mb-1">Twitch Bits</label>
                    <div class="input-group">
                        <input type="number" class="form-control text-center" placeholder="Qty">
                        <button class="btn btn-success px-2">✅</button>
                    </div>
                </div>
                <div class="col">
                    <label class="fw-bold mb-1">Youtube Superchat ($)</label>
                    <div class="input-group">
                        <input type="number" class="form-control text-center" placeholder="Qty">
                        <button class="btn btn-success px-2">✅</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Manual Adjust Buttons -->
    <div class="card mb-2 col-8 text-center mx-auto">
        <div class="card-body text-center">
            <h5 class="card-title text-center mb-3"><b>Manual Adjust</b></h5>

            <div class="col-12 mb-2">
                <button class="btn btn-outline-secondary mx-1 mb-1" onclick="adjustTime(30)">+30s</button>
                <button class="btn btn-outline-secondary mx-1 mb-1" onclick="adjustTime(60)">+1m</button>
                <button class="btn btn-outline-secondary mx-1 mb-1" onclick="adjustTime(300)">+5m</button>
                <button class="btn btn-outline-secondary mx-1 mb-1" onclick="adjustTime(-60)">-1m</button>
            </div>

            <div class="col-12">
                <button class="btn btn-outline-secondary mx-1 mb-1" onclick="adjustPoints(1)">+1 pt</button>
                <button class="btn btn-outline-secondary mx-1 mb-1" onclick="adjustPoints(5)">+5 pt</button>
                <button class="btn btn-outline-secondary mx-1 mb-1" onclick="adjustPoints(10)">+10 pt</button>
                <button class="btn btn-outline-secondary mx-1 mb-1" onclick="adjustPoints(-1)">-1 pt</button>
            </div>
        </div>
    </div>

    <!-- Timer Control Buttons -->
    <div class="row text-center">
        <div class="col">
            <button class="btn btn-danger mx-2" onclick="toggleTimer()">Pause / Resume</button>
            <!--            <button class="btn btn-dark mx-2" onclick="resetTimer()">Reset Timer</button>-->
        </div>
    </div>

</div>

<footer class="text-center mt-2">
    <small class="text-muted text-white">Version 1.0.0</small>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>